@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
}

body {
  background-color: #808080;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  box-sizing: border-box;
  background-color: #ACDF87;
  font-weight: bold;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  list-style: none;
}

.nav > li {
  float: left;
  padding: 10px;
  width: 15%;
}

.clear {
  clear: both;
}

.topics {
  color: #ffffff;
  text-shadow: -1.5px 0 #000000, 0 1.5px #000000, 1.5px 0 #000000, 0 -1.5px #000000;
  margin-bottom: 30px;
  margin-top: 30px;
}

.info {
  box-sizing: content-box;
  margin: 50px;
  position: absolute;
}

.icon1 {
  box-sizing: border-box;
  width: 50px;
  padding: 30px;
}

h1 {
  position: absolute;
  top: 10px;
  left: 80px;
}

.main {
  box-sizing: border-box;
  position: relative;
}

.rpic {
  position: absolute;
  top: 25px;
}

.pic1 {
  border-radius: 15px;
  box-shadow: 2px 2px 10px #800000;
}

.pic2 {
  border-radius: 15px;
  box-shadow: 2px 2px 10px #800000;
}

.t1 {
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-right: 60px;
}

.overlay {
  position: absolute;
  top: 0px;
  font-size: 15px;
  background-color: rgba (0, 0, 0, 0.6);
  color: #000000;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  opacity: 0;
  text-align: justify;
  padding: 10px;
  font-weight: bold;
}

.t2 {
  box-sizing: border-box;
  position: relative;
  float: left;
}

.t1, .t2 {
  padding-bottom: 20px;
}

.overlay:hover  {
  opacity: 1;
}

/* just added the line below for the img */
.t1:hover img{
  opacity: 0.25;
}

.t2:hover img{
  opacity: 0.25;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover > * {
  transform: translateY(0px);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #434343;
  color: white;
  text-align: center;
}
